<footer>
	<p>
    <a class="social-link envelop" target="_blank" aria-label="Envoyez-moi un mail"><span class="icon-envelop"></span></a>
    <a class="social-link linkedin" href="https://www.linkedin.com/in/adrien-bigler-6408a2a1/" aria-label="Retrouvez moi sur LinkedIn"><span class="icon-linkedin"></span></a>
    <a class="social-link twitter" href="https://twitter.com/camel_113" aria-label="Retrouvez moi sur twitter"><span class="icon-twitter"></span></a>
  </p>
  <p>
    <span>Développeur & Consultant</span>
  </p>
  <p>
    <span>Web & Mobile</span>
  </p>
</footer>