<footer>
	<p>
    <script type="text/javascript">document.write("<a class=\"social-link envelop\" aria-label=\"Envoyez-moi un mail\" href=\"mail" + "to:" + new Array("adrienbigler","gmail.com").join("@") + "\" title=\"M'envoyer un email\">");</script>
      <span class="icon-envelop"></span>
    <script type="text/javascript">document.write("</a>");</script>
    <a class="social-link linkedin" href="https://www.linkedin.com/in/adrien-bigler-6408a2a1/" aria-label="Retrouvez moi sur LinkedIn"><span class="icon-linkedin"></span></a>
    <a class="social-link twitter" href="https://twitter.com/camel_113" aria-label="Retrouvez moi sur twitter"><span class="icon-twitter"></span></a>
  </p>
  <p>
    <span>Développeur & Consultant</span>
  </p>
  <p>
    <span>Web & Mobile</span>
  </p>
</footer>