<header>
	<a class="site-title" href="/"><h1>Adrien Bigler</h1></a>
	<nav class="navbar">
	  <section class="navbar-left">
	  	<a href="/" class="btn btn-link first-link">Blog</a>
	    <a href="/adrien-bigler-consultant-web" class="btn btn-link first-link">A propos de moi</a>
	  </section>
	  <section class="navbar-section">
	  	<a class="social-link linkedin" href="https://www.linkedin.com/in/adrien-bigler-6408a2a1/"><span class="icon-linkedin"></span></a>
	  	<a href="https://github.com/camel113" class="social-link github"><span class="icon-github"></span></a>
  	</section>
	</nav>
</header>