@import "../../node_modules/spectre.scss/spectre.scss";
header{
	a,a:hover{
	color: inherit;
  outline: 0;
  text-decoration: none;
	}
	.site-title{
		display: block;
		margin-top: 20px;
	}
	.first-link{
		padding-left:0;
	}
}
.social-link{
  color: #999;
  transition: .5s;
  &.linkedin{
  	&:hover{
    	color: #0073a4;
    }
  }
  &.github{
		padding-right: 0;
		padding-left: 10px;
    &:hover{
    	color: #343434;
    }
	}
}
.post-overview{
	margin-top:20px;
	margin-bottom:40px;
	text-decoration: none;
	color: #000;
	h1{
		font-size:2rem;
	}
	p{
		margin-top: 10px; 
	}
}
footer{
	border-top:1px solid #f1f3f5;
	margin: 1.5rem 0;
	padding-top:1.5rem;
	text-align:center;
	.social-link{
    margin: 0 7px;
    &:hover{
    	text-decoration: none;
    }
  }
}
.post-image{
	margin: auto;
	max-width:100%;
	height:auto;
}
.single-post{
	margin-top:20px;
	a.post-image-link{
		display: block;
	}
	h1{
		font-size:2rem;
	}
	h2{
		font-size:1.8rem;
	}
	p{
		margin-top: 10px; 
	}
}
.img-adrien-container{
	text-align:center;
	img{
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius:50%;
		max-width: 120px;
	}
}