@import "../../node_modules/spectre.scss/spectre.scss";
header{
	a,a:hover{
	color: inherit;
  outline: 0;
  text-decoration: none;
	}
	.site-title{
		display: block;
	}
	.first-link{
		padding-left:0;
	}
  .header-main{
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 20px;
    h1{
      font-size: 4rem;
    }
    @media (min-width:400px) {
      font-size: 5rem;
    }
  }
  .toggle-mobile-nav{
    background: 0 0;
    border: 0;
    @media (min-width:400px) {
      display: none;
    }
  }
  .icon-close,.icon-burger{
    fill:#50596c;
  }
  .header-nav{
    display: none;
    flex-direction: column;
    .toggle-mobile-nav{
      align-self: flex-end;
    }
    .navbar{
      flex-direction: column;
      @media (min-width:400px) {
        flex-direction: row;
      }
    }
    &.open{
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      background: #fff;
      width: 100%;
      height: 100vh;
      overflow: auto;
      z-index: 1;
    }
    ul{
      display: flex;
      margin:0;
      list-style: none;
      flex-direction: column;
      align-items: center;
      @media (min-width:400px) {
        flex-direction: row;
      }
    }
    .btn.btn-link{
      font-size: 1.8rem;
      @media (min-width:400px) {
        font-size: 1.4rem;
      }
    }
    @media (min-width:400px) {
      display: flex;
    }
  }
}
main{
  position: relative;
}
.social-link{
  color: #999;
  transition: .5s;
  &.linkedin{
  	&:hover{
    	color: #0073a4;
    }
  }
  &.github{
		padding-right: 0;
		padding-left: 10px;
    &:hover{
    	color: #343434;
    }
	}
}
.post-overview{
	margin-top:20px;
	margin-bottom:40px;
	text-decoration: none;
	color: #000;
	h1{
		font-size:2rem;
	}
	p{
		margin-top: 10px; 
	}
}
footer{
	border-top:1px solid #f1f3f5;
	margin: 1.5rem 0;
	padding-top:1.5rem;
	text-align:center;
	.social-link{
    margin: 0 7px;
    &:hover{
    	text-decoration: none;
    }
  }
}
.post-image{
	margin: auto;
	max-width:100%;
	height:auto;
}
.single-post{
	margin-top:20px;
	a.post-image-link{
		display: block;
	}
	h1{
		font-size:2rem;
    font-weight: 500;
	}
	h2{
		font-size:1.9rem;
    font-weight: 500;
	}
  h3{
    font-size: 1.5rem;
    font-weight: 500;
  }
	p{
		margin-top: 10px; 
	}
}
.img-adrien-container{
	text-align:center;
	img{
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius:50%;
		max-width: 120px;
	}
}
.posts-list{
  list-style: none;
  margin-left: 0;
}