<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ "/assets/vendors/spectre.min.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/vendors/icomoon.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/styles/main.css" | prepend: site.baseurl_root }}">
  </head>
  <body>
  	<section class="container grid-960">
  		{{content}}
  	</section>
  </body>
</html>